table {
    width: 100%;
    text-align: center;
}
th.mat-header-cell{text-align: center;}

.content{
    width: 100%;
    height: calc(100vh - 64px);
}

.table-container {
    position: absolute;
    width: 60%;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
}
@media (max-width: 599px){
    .content{
        height: calc(100vh - 56px);
    }
    .table-container {
        width: 100%
    }
    ::ng-deep .mat-paginator-range-label{
        display: none;
    }
}