<div class="content">
    <div class="table-container">
        <!--
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let userdata">{{userdata.username}}</td>
            </ng-container>

            <ng-container matColumnDef="record">
                <th mat-header-cell *matHeaderCellDef> Best time </th>
                <td mat-cell *matCellDef="let userdata">{{userdata.record}}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let userdata"> {{userdata.date}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    -->

        <table border=1 frame=void rules=rows class="mat-elevation-z8">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Best time</th>
                    <th>Date</th>
                </tr>
            </thead>
            <ng-container *ngFor="let data of userdata">
                <tr >
                    <td>{{data.username}}</td>
                    <td>{{data.record}}ms</td>
                    <td>{{data.date}}</td>
                </tr>
                <tr>
                    <td>{{data.username}}</td>
                    <td>{{data.record}}</td>
                    <td>{{data.date}}</td>
                </tr>
                <tr>
                    <td>{{data.username}}</td>
                    <td>{{data.record}}</td>
                    <td>{{data.date}}</td>
                </tr>
                <tr>
                    <td>{{data.username}}</td>
                    <td>{{data.record}}</td>
                    <td>{{data.date}}</td>
                </tr>
                <tr>
                    <td>{{data.username}}</td>
                    <td>{{data.record}}</td>
                    <td>{{data.date}}</td>
                </tr>
                <tr>
                    <td>{{data.username}}</td>
                    <td>{{data.record}}</td>
                    <td>{{data.date}}</td>
                </tr>
                
            </ng-container>
        </table>

    </div>
</div>