<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button onclick="this.blur()">
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1>asd</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" fixedInViewport="true">
        <mat-nav-list>
            <a mat-list-item (click)="sidenav.toggle();" routerLink="main">
                <mat-icon class="list-icon">home</mat-icon>Home</a>
            <a mat-list-item (click)="sidenav.toggle();" routerLink="leaderboard">
                <mat-icon class="list-icon">leaderboard</mat-icon>Leaderboard</a>
            <a mat-list-item (click)="sidenav.toggle();" routerLink="login">
                <mat-icon class="list-icon">login</mat-icon>Sign in</a>
            <a mat-list-item (click)="sidenav.toggle();" routerLink="register">
                <mat-icon class="list-icon">create</mat-icon>Sign up</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sidenav-div">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>